@import "../../variables";
@import "../../mixins";

.approve {
    display: flex;
    gap: 30px;

    &__container {
        @include flex-column;
        width: 100%;
        gap: 30px;
    }
}

.section {
    animation: ani 0.2s ease-in-out;
}

.menu {
    &__promo {
        position: relative;
        @include flex-column;
        align-items: end;
    }

    &__title {
        @include text-format(700, 16px, 21px);
        color: #414141;
        @include reset;

        &_lite {
            @include reset;
            @include text-format(400, 16px, 21px);
            color: #414141;
        }
    }

    &__subtitle {
        position: absolute;
        top: -12px;
        @include text-format(400, 12px, 16px);
        margin: 0;
        text-decoration-line: line-through;
        color: rgba(65, 65, 65, 0.2);
    }

    &__line {
        width: 100%;
        height: 1px;
        margin: 20px 0;
        background-color: #E2E2E2;
    }

    &__listItemIcon {
        min-width: auto !important;
        color: #4675CE !important;
    }

    &__listItemText {
        opacity: 0.5 !important;
        margin-left: 15px !important;
    }

    &__button {
        margin-top: 30px !important;
        width: 100%;
        height: 50px;
        text-transform: uppercase;
        @include text-format(700, 18px, 34px);
    }

    &__place {
        width: 340px;
        height: 45px;
        left: 1187px;
        top: 509px;
        background: #FFFFFF;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        @include flex-center;
        padding-left: 13px;
        color: rgba(86, 77, 77, 0.6);
        margin-bottom: 28px;
    }
}

.info {
    align-self: flex-start;
    box-sizing: border-box;
    max-width: 380px;
    width: 100%;
    background-color: #FBFBFB;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 2px 2px 0px rgba(0, 0, 0, 0.06), 0 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 20px;

    &__box {
        @include flex-center-between;
        width: 100%;

        &_comment {
            width: 100%;
        }
    }


    &__text {
        @include reset;
        @include text-format(400, 16px, 21px);

        &_lite {
            @include reset;
            @include text-format(400, 16px, 21px);
            color: $grayDark;
        }
    }
}

.wrapper {
    @include flex-column;
    @include flex-center-between;
    gap: 15px;

    &__delivery {
        @include flex-column;
        @include flex-center-between;
        gap: 15px;
        margin-top: 10px;
    }
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}