@import "../../variables";
@import "../../mixins";


.order {
    @include flex-column;
    @include flex-between;
    align-self: flex-start;
    gap: 42px;

    background-color: #FBFBFB;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    min-width: 380px;
    box-sizing: border-box;
}

.wrapper {
    @include flex-center;
    gap: 35px;
}

.form {
    background-color: #FBFBFB;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);

    &__wrapper {
        @include flex-column;
        gap: 25px;
    }

    &__box {
        display: flex;
        gap: 30px;
    }

    &__title {
        @include reset;
        margin-bottom: 15px;
        @include text-format(700, 18px, 23px);
        color: #414141;
    }
}