@import "../../variables";
@import "../../mixins";

.basket {
    max-width: 1180px;
    @include flex-column;

    &__wrapper {
        @include flex-center-between;
        width: 100%;
        gap: 30px;
    }

    &__container {
        @include flex-column;
        gap: 25px;
        width: 100%;
        align-self: flex-start;
    }

    &__section {
        @include flex-center;
        gap: 35px;
        animation: ani 0.2s ease-in-out;
    }
}

.menu {
    align-self: flex-start;
    box-sizing: border-box;
    min-width: 380px;
    background-color: #FBFBFB;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 2px 2px 0px rgba(0, 0, 0, 0.06), 0 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 20px;
    max-height: 440px;

    &__label {
        span {
            font-size: 14px;
        }
    }

    &__title {
        @include reset;
        @include text-format(700, 18px, 23px);
        color: #414141;
    }

    &__box {
        margin: 15px 0 15.5px;
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: #E2E2E2;
    }

    &__text {
        @include text-format(400, 14px, 18px);
        color: #626262;
        margin-top: 10px;
    }

    &__price {
        @include flex-center-between;
        margin: 15px 0;
    }

    &__button {
        width: 100%;
        height: 50px;
        text-transform: uppercase;
        @include text-format(700, 18px, 34px);
    }
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}