@import "../variables";
@import "../mixins";

.footer {
  margin-top: 150px; // потом убрать
  flex: 0 0 auto;
  height: 140px;
  background-color: $blue;
  width: 100%;
  color: $white;
  @include flex-center-center;

  .wrapper {
    @include flex-column-center;
    max-width: 1280px;
    margin: 0 auto;

    .container {
      @include flex-column-center;
      gap: 10px;

      img {
        width: 238px;
        height: 43px;
      }

      em {
        @include reset;
        font-style: normal;

        a {
          @include reset;
          text-decoration: none;
          color: $white;
          opacity: 0.6;
          transition: opacity ease-in-out 0.2s;

          &:hover {
            opacity: 1;
          }
        }

      }
    }
  }
}