@import "../variables";
@import "../mixins";

.footer {
  margin-top: 60px;
  flex: 0 0 auto;
  width: 100%;
  background: #fafafb;
  @include flex-center-center;
  padding: 72px 0 25px;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.middle {
  display: grid;
  gap: 50px;
  width: 100%;
  grid-template-columns: minmax(200px, 250px) minmax(140px, 180px) 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'about other backend frontend';
  border-bottom: 1px solid #e7e7e9;
  padding-bottom: 30px;
}

.about {
  @include flex-column;
  gap: 20px;
  grid-area: about;
}

.aboutText {
  @include reset;
  @include text-format(400, 14px, 20px);
  color: $mainBlack;
  letter-spacing: 0.02em;

  span {
    @include text-format(700, 14px, 20px);
    color: $blue;
  }
}

.logo {
  width: 185px;
  margin-bottom: 20px;
}

.deploy {
  grid-area: other;
  @include flex-column;
}

.title {
  @include reset;
  @include text-format(700, 14px, 20px);
  letter-spacing: 0.05em;
  color: $blue;
  margin-bottom: 15px;
}

.skills {
  @include flex-center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 20px;
}

.backend {
  grid-area: backend;
}

.frontend {
  grid-area: frontend;
}

.bottom {
  margin-top: 30px;
  @include flex-center-between;
}

.copy {
  @include reset;
  font-style: normal;
  @include text-format(400, 14px, 20px);
  color: $grayDark;
}

.version {
  @include flex-center-between;
  gap: 20px;
}

.releases {
  @include text-format(400, 14px, 18px);
}