@import "../mixins";
@import "../variables";

.headerProfile {
  @include reset;
  border: none;
  background-color: inherit;
  cursor: pointer;
  @include flex-center-between;
  gap: 30px;
  position: relative;
}

.notify {
  margin-top: 10px;
}

.buttonProfile {
  cursor: pointer;
  @include reset;
  border: none;
  background-color: inherit;
  @include flex-center-between;
  position: relative;
}

.name {
  @include reset;
  @include text-format(700, 16px, 20px);
  color: $mainBlack;
  letter-spacing: 0.02em;
  margin-right: 10px;
}