@import "../mixins";
@import "../variables";

.headerProfile {
  @include reset;
  border: none;
  background-color: inherit;
  cursor: pointer;
  @include flex-center-between;
  gap: 10px;

  &__wrapper {
    @include flex-column;
    text-align: end;
  }

  &__name {
    @include reset;
    @include text-format(700, 14px, 18px);
    color: $blue;
  }

  &__balance {
    @include reset;
    @include text-format(700, 14px, 18px);
    color: $mainBlack;
    font-style: normal;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $blue;
    transition: border ease-in-out 0.2s;
    padding: 2px;
  }
}