@import "../mixins";
@import "../variables";


.notFound {
  padding: 40px 0;

  &__wrapper {
    @include flex-column;
    @include flex-center-center;
  }

  &__error {
    @include reset;
    font-weight: 400;
    font-size: 200px;
    line-height: 259px;
    color: $blue;
  }

  &__text {
    @include reset;
  }
}