@import "../variables";
@import "../mixins";

.popup {
    &__container {
        @include flex-column;
        align-items: center;
    }

    &__title {
        @include reset;
        @include text-format(700, 26px, 34px);
        color: $blue;
    }

    &__wrapper {
        width: 100%;
    }

    &__location {
        width: 100%;
        min-height: 220px;
    }

    &__target {
        @include reset;
        @include text-format(400, 16px, 21px);
        margin-top: 10px;
    }

    &__imp {
        @include reset;
        @include text-format(400, 16px, 21px);
        font-style: italic;
        margin-top: 10px;

        b {
            color: $red;
        }

    }

    &__titleMoments {
        @include reset;
        @include text-format(700, 18px, 22px);
        margin: 10px 0;
        color: $blue;
    }

    &__moments {
        @include reset-list;
        @include flex-column;
        gap: 20px;
    }

    &__moment {
        @include reset;
        @include text-format(400, 16px, 22px);
        letter-spacing: 0.02rem;
        display: flex;
        gap: 10px;
    }

    &__paragraph {
        @include reset;
        margin-top: 10px;
        @include text-format(400, 18px, 28px);
        color: #414141;
    }

    &__subtitle {
        margin: 9px 0 27px 0;
        @include text-format(400, 22px, 28px);
        color: #414141;
    }

    &__text {
        margin: 16px 0 0;
        @include text-format(700, 26px, 34px);
        color: #414141;
    }

    &__previewTitle {
        @include reset;
        @include flex-center-center;
        @include text-format(400, 22px, 26px);
        color: $grayDark;
        margin-top: 30px;
    }

    &__cites {
        @include reset-list;
        display: flex;
        width: 100%;
        min-width: 570px;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 20px;
    }

    &__city {
        @include reset;
        @include text-format(400, 16px, 18px);

        &_link {
            cursor: pointer;
        }
    }

    &__authorsImage {
        width: 600px;
        min-height: 428px;
    }

    &__imageContainer {
        position: relative;
    }

    &__payImage {
        width: 500px;
        min-height: 500px;
    }

    &__payValue {
        @include reset;
        @include text-format(700, 22px, 16px);
        position: absolute;
        top: 140px;
        left: 190px;
    }

    &__bottom {
        @include flex-center-between;
        gap: 15px;
        margin-top: 25px;
    }


    &__name {
        text-decoration: none;
        color: $mainBlack;
        span {
            color: $mainBlack;
        }
    }

    &_none {
        display: flex;
    }
}