@import "../mixins";

.preloader {
  @include flex-center-center;
  max-width: 1180px;
  margin: 0 auto;

  &__wrapper {
    @include flex-column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
  }

  &__title {
    @include reset;
    @include text-format(400, 22px, 28px)
  }
}