@import "../mixins";
@import "../variables";

.search {
  z-index: 100;
  @include flex-column;
  //border: 1px solid #4675CE;
  border: 1px solid $gray;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #FBFBFB;
  width: 310px;
  padding: 5px 7px 5px 19px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  left: 0;
  right: 200px;

  &__top {
    @include flex-center-between;
  }

  &__input {
    padding: 0;
    outline:none;
    border: none;
    @include text-format(400, 16px, 21px);
    width: 100%;
    margin-right: 10px;
    background-color: inherit;
  }

  &__buttons {
    @include flex-center-between;
    gap: 3px;
  }

  &__content {
    @include flex-column;
    @include reset-list;
    gap: 5px;
    border-top: 1px solid $gray;
    margin-right: 12px;
  }

  &__itemButton {
    @include reset;
    @include text-format(700, 16px, 21px);
    text-align: start;
    padding: 5px 0;
    background-color: inherit;
    border: none;
    color: $mainBlack;
    cursor: pointer;
    transition: color ease-in-out 0.2s;

    &:hover {
      color: $blue;
    }

    &:first-child {
      margin-top: 5px;
    }
    &:last-child {
      margin-bottom: 5px;
    }
  }
}