@import "../mixins";
@import "../variables";

.search {
  z-index: 100;
  @include flex-column;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.08), 0 2px 2px 0px rgba(0, 0, 0, 0.06), 0 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow ease-in-out 0.2s, transform ease-in-out 0.2s;
  background: #f6f6f6;
  width: 350px;
  padding: 5px 7px 5px 19px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  left: 0;
  right: 200px;

  &__top {
    @include flex-center-between;
  }

  &__input {
    padding: 0;
    outline:none;
    border: none;
    @include text-format(400, 16px, 21px);
    width: 100%;
    margin-right: 10px;
    background-color: inherit;
  }

  &__buttons {
    @include flex-center-between;
    gap: 3px;
  }

  &__content {
    @include flex-column;
    @include reset-list;
    gap: 5px;
    margin-right: 12px;
  }

  &__itemContent {
    border-top: 1px solid $gray;
    @include flex-center-between;
    padding: 10px 0;
    background-color: inherit;
    color: $mainBlack;
    transition: color ease-in-out 0.2s;
    cursor: pointer;

    &:first-child{
      padding-top: 10px;
      margin-top: 5px;
    }

    &:hover .search__item {
      color: #4675ce;
    }
  }

  &__leftContent {
    @include flex-center;
  }

  &__error {
    @include flex-column;
    border-top: 1px solid $gray;
    padding: 12px 0;
    margin-top: 5px;
  }

  &__message {
    @include text-format(400, 16px, 18px);
    text-align: center;
    color: $grayDark;
  }

  &__item {
    @include reset;
    @include text-format(400, 16px, 21px);
    margin-left: 10px;
    text-align: start;
    cursor: pointer;
  }

  &__price {
    @include reset;
    @include text-format(400, 14px, 18px);
    color: #555;
    justify-self: flex-end;
  }
}