@import "../variables";
@import "../mixins";

.popup {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    &__container {
        @include flex-column;
        align-items: center;
        padding: 25px;
        box-sizing: border-box;
        width: 626px;
        height: 652px;
        border-radius: 11px;
        background-color: #fff;
    }

    &__title {
        @include text-format(700, 26px, 34px);
        color: #4675CE;
        margin: 0;
    }

    &__subtitle {
        margin: 9px 0 27px 0;
        @include text-format(400, 22px, 28px);
        color: #414141;
    }

    &__text {
        margin: 16px 0 0;
        @include text-format(700, 26px, 34px);
        color: #414141;
    }

    &__img {
        width: 500px;
        height: 400px;
    }

    &__bottom {
        display: flex;
        margin-top: 18px;
    }

    &__box {
        padding: 0 13px;
        margin-right: 17px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 178.43px;
        height: 36px;
        background: #FFFFFF;
        border: 1px solid #4675CE;
        border-radius: 18px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__logo {
        width: 19.66px;
        height: 21.14px;
    }

    &__name {
        @include text-format(400, 18px, 23px);
        color: #000000;
        @include reset;
        margin-left: 8px;
    }

    &_none {
        display: flex;
    }
}