.navigation {
    .navigation__container {
        display: flex;
        align-items: center;
    }

    .navigation__title {
        margin: 20px 31px 12px 0;
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 34px;
        color: '#414141';
    }

    .navigation__circle {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 2rem;
        height: 2rem;
        margin-left: 9px;
    }

    .navigation__line {
        background-color: #555555;
        width: 153px;
        height: 1px;
        margin-left: 9px;
    }
}