.approve {
    display: flex;

    .approve__container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.info {
    width: 396px;
    background-color: #FBFBFB;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;

    .info__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .menu__promo {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .info__text {
        margin: 0;
    }

    .menu__title {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        color: #414141;
        margin: 0;
    }

    .menu__subtitle {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        margin: 0;
        text-decoration-line: line-through;
        color: rgba(65, 65, 65, 0.2);
    }

    .menu__line {
        width: 100%;
        height: 1px;
        margin-bottom: 32px;
        background-color: #E2E2E2;
    }

    .menu__button {
        background-color: #4675CE;
        color: white;
        margin-top: 36px;
        width: 100%;
        height: 50px;
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 34px;
        text-transform: uppercase;
    }

    .menu__place {
        width: 340px;
        height: 45px;
        left: 1187px;
        top: 509px;
        background: #FFFFFF;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding-left: 13px;
        color: rgba(86, 77, 77, 0.6);
        margin-bottom: 28px;
    }

    .info__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
    }

    .menu__btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background: #4675CE;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 0px 5px 5px 0px;
        border: none;
        background-image: url('../../images/Group.svg');
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
            cursor: pointer;
        }
    }
}