.form {
    background-color: #FBFBFB;
    box-shadow: 2px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 40px 22px 40px 22px;
    margin-right: 32px;

    .form__box {
        display: flex;
    }

    .form__title {
        margin-bottom: 49px;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #414141;
    }
}