@import "../variables";
@import "../mixins";

.card {
  position: relative;
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  width: 100%;
  max-width: 260px;
  height: 360px;
  transform: translateY(0);
  transition: transform 0.15s ease-in, box-shadow 0.15s ease-in;
  @include flex-column;
  @include flex-between;
  box-sizing: border-box;
  margin: 10px 0;
  z-index: 50;
  background-color: #fff;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }

  &__type_active {
    opacity: 1;
    display: flex;
    overflow: visible;
    transition: opacity ease-in-out 1s;
  }

  &__swiper {
    width: 100%;
    height: 150px;
  }

  &__image {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    max-height: 150px;
  }

  &__nav-slide {
    @include flex-center-between;
    cursor: pointer;
    height: 7px;
    width: 100%;
    margin-top: 5px;
  }

  &__active {
    overflow: visible;
    opacity: 1;
  }

  &__disabled {
    transition: opacity ease-in-out 0.2s;
    overflow: hidden;
    opacity: 0;
  }


  &__navigation {
    background-color: #4675ce;
    opacity: 0.3;
    width: 100%;
    height: 5px;
    border-radius: 7px;

    &_active {
      opacity: 1;
    }
  }

  &__title {
    @include reset;
    @include text-format(400, 16px, 21px);
    padding: 15px 0 12px;
    text-align: start;
    color: $secondBlack;
  }

  &__desc-wrapper {
    border-top: 1px solid #E2E2E2;
    position: relative;
  }

  &__price-wrapper {
    margin: 10px 0;
    @include flex-column;

    p {
      @include reset;
      opacity: 0.2;
      @include text-format(700, 16px, 21px);
    }

    em {
      @include reset;
      @include text-format(700, 20px, 26px);
      font-style: normal;
    }
  }

  &__buttons-wrapper {
    gap: 10px;
    @include flex-center-between;
    min-height: 40px;
  }

  &__link-buy {
    width: 100%;
    text-decoration: none;
  }

  &__colors {
    @include flex-center;
    @include reset-list;
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    gap: 5px;

    li {
      width: 20px;
      height: 20px;

      button {
        border-radius: 3px;
        width: 20px;
        height: 20px;
        min-width: 20px;
        @include reset;
        position: relative;
      }
    }
  }


  &__tooltip {
    @include flex-center;
    span {
      margin-right: 5px;
    }
    ul {
      @include reset-list;
      @include flex-center;
      gap: 5px;

      li {
        border-radius: 3px;
        width: 15px;
        height: 15px;
        background-color: #4675ce;
      }
    }
  }

  &__colors {
    padding-bottom: 3px;
  }
}

