@import "../variables";
@import "../mixins";

.home {
  @include flex-column;
  min-height: 100vh;
}

// section preview
.preview {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 342px 50px;
  column-gap: 35px;
  row-gap: 20px;
  margin-bottom: 25px;
  max-width: 1180px;

  &__wrapper {
    @include flex-column;
  }


  &__title {
    @include reset;
    @include text-format(700, 26px, 34px);
    color: $mainBlack;
    @include flex-center;
  }

  &__contain {
    position: relative;
    width: 100%;
    @include flex-center-center;
  }

  &__swiper {
    max-width: 556px;
    min-height: 284px;
    @include reset;
  }

  &__wrapper {
    @include flex-column;
    gap: 12px;

    &_top {
      margin-left: 10px;
    }
    &_banner {
      gap: 20px;
    }
  }

  &__cards-wrapper {
    @include reset-list;
    @include flex-column;
    box-sizing: border-box;
    justify-content: space-between;
    height: 100%;
    margin: 10px 10px 0 0;
    gap: 14px;
  }

  &__banner {
    background-color: #fafafb;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 100%;
    height: 100%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 2px 2px 0px rgba(0, 0, 0, 0.06), 0 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  &__info {
    grid-column-start: 2;
    grid-column-end: 3;
    @include flex-center-center;
    gap: 35px;
    max-width: 556px;

    &-text {
      border-radius: 7px;
      height: 50px;
      width: 100%;
      @include flex-center-center;
      border: none;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.07), 0 4px 4px 0px rgba(0, 0, 0, 0.06), 0 2px 5px 0px rgba(0, 0, 0, 0.02) !important;
    }
  }

  &__timer-container {
    @include flex-center;
  }

  &__timer {
    @include reset;
    color: #4675CE;
    @include text-format(700, 20px, 34px);
    margin-left: 10px;
  }

  &__icon {
    width: 40px;
    height: 40px;
  }
}

// section advice
.advice {
  width: 100%;
  max-width: 1180px;
  @include flex-column;
  min-height: 442px;

  &__sort {
    @include reset-list;
    @include flex-center;
    gap: 10px;
  }

  &__cards {
    position: relative;
    margin-top: 20px;
    @include flex-center-center;
    gap: 30px;
  }

  &__swiper {
    width: 100%;
    height: 100%;
    @include flex-center-between;

    &-arrows {
      @include flex-center-center;
    }
  }
}

.arrows {
  &__nav {
    margin: 0 auto;
    @include flex-center-between;
    top: 45%;
    position: absolute;
  }

  &__buttons_nav {
    z-index: 2;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
    background-color: rgba(255,255,255, 0.7) !important;

    &:hover {
      background-color: rgba(255,255,255, 1) !important;
      transition: background-color ease-in-out 0.2s;
    }
  }
}

// welcome

.welcome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
  margin: 15px 0 0;

  &_title {
    margin: 0 0 15px 0;
  }

  &__stats {
    margin-top: 30px;
    @include flex-center-between;
    gap: 30px;
  }

  &__stat {
    width: 100%;
    height: 90px;
    background-color: #F5F5F5;
  }

  &__column {
    width: 100%;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    gap: 60px;
  }

  &__subtitle {
    @include text-format(700, 25px, 32px);
    @include reset;
    color: $blue;
    margin-bottom: 20px;
  }

  &__paragraph {
    @include text-format(400, 16px, 24px);
    @include reset;
    color: $secondBlack;
    margin-bottom: 20px;
  }

  &__image {
    width: 100%;
    height: 310px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 2px 2px 0px rgba(0, 0, 0, 0.06), 0 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
}





// map

.map {
  @include flex-column;
  margin-bottom: 40px;

  &__textWrapper {
    @include flex-column;
    margin-top: 30px;
  }

  &_text {
    @include reset;
    @include text-format(700, 25px, 32px);
  }

  &__title {
    color: $mainBlack;
  }

  &__subtitle {
    color: $blue;
  }

  &__blocksWrapper {
    @include flex-center-between;
    width: 100%;
    gap: 50px;
    margin-top: 25px;
  }

  &__cards {
    @include flex-center-between;
    width: 100%;
    gap: 20px;
  }

  &_card {
    justify-content: flex-start;
  }

  &__cardContainer {
    @include flex-column;
    gap: 10px;
    margin-top: 10px;
  }

  &__cardMainTitle {
    @include reset;
    @include text-format(700, 18px, 23px);
    color: $blue;
    margin-bottom: 8px;
  }

  &__cardBlock {
    @include flex-column;
    gap: 6px;
  }

  &__cardTitle {
    @include reset;
    @include text-format(400, 16px, 21px);
    color: rgba(117, 117, 117, 0.6);
  }

  &__text {
    @include reset;
    @include text-format(400, 14px, 20px);
    text-decoration: none;

    &_paragraph {
      color: $secondBlack;
    }

    &_link {
      color: $blue;
    }
  }
}
