@import "../variables";
@import "../mixins";

.product {
  width: 100%;

  &__wrapper {
    @include reset-list;
    display: grid;
    grid-template-rows:  1fr minmax(200px, auto);
    grid-template-columns: 666px 1fr;
    grid-template-areas:
            "preview params"
            "slides specs";
    gap: 30px;
  }

  &__preview {
    width: 100%;
    grid-area: preview;
    position: relative;
    @include flex-center-center;

    img  {
      width: 100%;
      object-fit: cover;
    }
  }

  &__params {
    grid-area: params;
    background-color: #FBFBFB;
    @include flex-column;
    @include flex-center-between;
    min-height: 507px;
  }

  &__slides {
    grid-area: slides;

    &-wrapper {
      position: relative;
      @include flex-center-center;
      height: 100px;
    }
  }

  &__specs {
    width: 100%;
    grid-area: specs;
  }

  &__image-preview {
    border-radius: 4px;
    height: 100%;
    width: 100%;
  }

  &__nav {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
    cursor: pointer;
    max-height: 117px;

    &-preview {
      width: 100%;
      height: 100%;
    }
  }

  &__background {
    background: linear-gradient(0deg, rgba(49, 49, 49, 0.8) 6%, rgba(217, 217, 217, 0) 66.5%);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 117px;

    &_active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__top-wrapper {
    width: 100%;
    @include flex-center-between;

    h2 {
      @include reset;
      font-weight: 700;
      font-size: 28px;
      line-height: 39px;

      color: #4675CE;
    }
  }

  &__price-wrapper {
    align-self: flex-start;
    @include flex-column;
    align-items: flex-start;
    position: relative;
    @include text-format(400, 16px, 21px);
    color: #999999;
  }
  &__old-price {
    position: absolute;
    @include reset;
    top: -20px;
    right: -30px;
    @include text-format(400, 16px, 21px);
    color: #999999;
  }

  &__price {
    @include reset;
    @include text-format(700, 26px, 34px);
    color: #414141;
    font-style: normal;
  }

  &__colors {
    align-self: flex-start;
    @include flex-column;
    align-items: flex-start;
    gap: 20px;
    position: relative;

    ul {
      @include reset-list;
      @include flex-center-between;
      gap: 17px;

      li {
        width: 30px;
        height: 30px;
        border-radius: 2px;
        position: relative;

        .product__light {
          box-sizing: border-box;
          border-radius: 7px;
          position: absolute;
          top: -7px;
          left: -7px;
          width: 44px;
          height: 44px;
          transition: opacity ease-in-out 0.2s;

          &_active{
            opacity: 1;
          }

          &_disabled {
            opacity: 0;
          }
        }

        button {
          width: 30px;
          height: 30px;
          min-width: 30px;
          @include reset;
        }
      }
    }
  }

  &__title {
    @include reset;
    @include text-format(400, 16px, 21px);
  }

  &__circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid $blue;
    border-radius: 50%;
    left: -7px;
    bottom: -7px;

  }

  &__description {

    span{
      @include text-format(700, 18px, 24px);
    }

    p {
      @include reset;
      @include text-format(400, 16px, 25px);
      color: #555555;
    }
  }

  &__text-error {
    @include reset;
    @include text-format(400, 12px, 16px);
    position: absolute;
    bottom: -30px;
    color: #D32F2F;
  }

  &__closeIcon {
    position: absolute;
    z-index: 3;
    top: 4px;
    left: 3px;
    color: #fff;
  }

  &__buttons {
    width: 100%;
    @include flex-center-between;
    gap: 10px;
  }

  &__submit {
    width: 100%;
    height: 64px;
    font-weight: 700;
  }

  &__favorite {
    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__specs-wrapper {
    margin-top: 20px;
    @include flex-center;
    gap: 25px;

    ul {
      @include flex-column;
      @include reset-list;
      gap: 7px;

      li {
        @include text-format(400, 16px, 23px);
        color: #414141;
      }
    }
  }

}

