@import "../variables";
@import "../mixins";

.profile {
  display: grid;
  gap: 30px;
  grid-template-columns: minmax(280px, 330px) 1fr 1fr;
  grid-template-rows: auto minmax(300px, 315px) minmax(200px, 270px);
  grid-template-areas:
          'title title title'
          'about buy buy'
          'about monies reviews';

  &__audioPicker {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    @include reset;
  }
}

.box {
  background-color: $white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.subtitle {
  @include reset;
  @include text-format(700, 22px, 28px);
  color: $mainBlack;
}

.profile__title {
  grid-area: title;
  margin: 0 !important;
}

.profileAbout {
  @include flex-column;
  grid-area: about;
  gap: 10px;

  &__avatar {
    @include flex-column;
  }

  &__textAvatar {
    margin-top: 5px;
    @include reset;
    @include text-format(400, 16px, 21px);
    color: #757575;
  }

  &__avatarEdit {
    margin-top: 14px;
    @include flex-center;
    gap: 8px;
  }

  &__info {
    @include flex-column;
  }

  &__btnWrapper {
    width: auto;
    @include flex-center-between;
  }

  &__form {
    margin-top: 10px;
    @include flex-column;
    gap: 20px;
  }
}

.profileBuy {
  grid-area: buy;
}

.profileMonies {
  grid-area: monies;
}

.profileReviews {
  grid-area: reviews;
}
