@import "../../variables";
@import "../../mixins";

.basket {
    display: flex;
    gap: 30px;
    max-width: 1180px;

    &__container {
        @include flex-column;
        gap: 25px;
        width: 100%;
    }
}

.menu {
    box-sizing: border-box;
    min-width: 380px;
    background-color: #FBFBFB;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    max-height: 440px;

    &__label {
        span {
            font-size: 14px;
        }
    }

    &__title {
        @include reset;
        @include text-format(700, 18px, 23px);
        color: #414141;
    }

    &__box {
        margin: 15px 0 15.5px;
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: #E2E2E2;
    }

    &__text {
        @include text-format(400, 14px, 18px);
        color: #626262;
        margin-top: 10px;
    }

    &__price {
        @include flex-center-between;
        margin-top: 15px;
    }

    &__button {
        width: 100%;
        height: 50px;
        text-transform: uppercase;
        @include text-format(700, 18px, 34px);
    }
}