@import "../../variables";
@import "../../mixins";

.approve {
    display: flex;
    gap: 30px;

    &__container {
        @include flex-column;
        width: 100%;
        gap: 30px;
    }
}

.menu {
    &__promo {
        @include flex-column;
        align-items: end;
    }

    &__title {
        @include text-format(700, 16px, 21px);
        color: #414141;
        margin: 0;
    }

    &__subtitle {
        @include text-format(700, 12px, 16px);
        margin: 0;
        text-decoration-line: line-through;
        color: rgba(65, 65, 65, 0.2);
    }

    &__wrapper {
        @include flex-column;
        gap: 28px;
    }

    &__line {
        width: 100%;
        height: 1px;
        margin-bottom: 32px;
        background-color: #E2E2E2;
    }

    &__listItem {
        background-color: #fff !important;
        border-radius: 5px !important;
        padding: 0 !important;
        min-height: 45px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }

    &__copy {
        padding: 0 !important;
        min-width: 45px;
        min-height: 45px;
        border-radius:  0 5px 5px 0 !important;
    }

    &__button {
        background-color: $blue;
        color: white;
        margin-top: 36px;
        width: 100%;
        height: 50px;
        @include text-format(700, 26px, 34px);
        text-transform: uppercase;
    }

    &__place {
        width: 340px;
        height: 45px;
        left: 1187px;
        top: 509px;
        background: #FFFFFF;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        @include flex-center;
        padding-left: 13px;
        color: rgba(86, 77, 77, 0.6);
        margin-bottom: 28px;
    }
}

.info {
    box-sizing: border-box;
    max-width: 380px;
    width: 100%;
    background-color: #FBFBFB;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;

    &__box {
        @include flex-center-between;
        margin-bottom: 20px;
    }


    &__text {
        @include reset;
        @include text-format(400, 16px, 21px)
    }

    &__bottom {
        @include flex-between;
        margin-top: 24px;
    }
}